{% extends "base.html" %}
{% load static %}

{% block extratitle %}
Edit Event |
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block page_header %}
{% include 'includes/page-header.html' with h3_title="Edit Event" %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-5">
        <form
            action="{% url 'edit_event' event.id %}" method="POST"
            id="add-event-form" class="pt-3 pb-2" encytype="multipart/form-data">
            {% csrf_token %}
                <legend class="fieldset-label text-green pt-3 pb-2">Edit Event</legend>
                {{ form | crispy }}

            <div class="w-100">
                <a class="btn btn-outline-success" href="{% url 'events' %}">
                    <i class="far fa-window-close"></i>
                    &nbsp;
                    Cancel
                </a>
                <button id="submit-button" class="btn btn-outline-warning">
                    <i class="fas fa-wrench"></i>
                    &nbsp;
                    Edit
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}