{% extends "base.html" %}
{% load static %}

{% block extratitle %}
Upcoming Events |
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block h3_title %}
Upcoming Events
{% endblock %}

{% block page_header %}
{% include 'includes/page-header.html' with h3_title="Upcoming Events" %}
{% endblock %}

{% block content %}

<!-- Default Bootstrap card format -->
<div class="row index-content">
{% for event in events %}
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card event-card mx-2 my-3">
            {% if product.image %}
            <a href="{% url 'view_event' event.id %}">
                <img src="{{ event.image.url }}" alt="{{ event.event_name }}" class="product-image card-img-top">
            </a>
            {% else %}
            <a href="{% url 'view_event' event.id %}">
                <img src="{{ MEDIA_URL }}city-square.png" alt="{{ event.event_name }}" class="product-image card-img-top">
            </a>
            {% endif %}
            <div class="card-body">
                <h4 class="card-title text-red">{{ event.event_name}}</h4>
                <p class="text-black">{{ event.date }}</p>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'view_event' event.id %}" class="btn btn-primary back-green text-offwhite mx-2 mobile-font text-center" role="button">
                        <i class="fas fa-info-circle"></i> Get Your Seat</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% include 'includes/back-to-top.html' %}

{% endblock %}