{% extends "base.html" %}
{% load static %}

{% block extratitle %}
{{ event.name }} |
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'products/css/events.css' %}">
{% endblock %}

{% block page_header %}
{% include 'includes/page-header.html' with h3_title=event.name %}
{% endblock %}

{% block content %}

<div class="container">
    
    <div class="row">

        <div class="col-sm-12 col-md-5">
            <!-- logic taken from Boutique Ado project -->
            {% if event.image %}
            <a href="{{ event.image.url }}" target="_blank">
                <!-- change to modal -->
                <img src="{{ event.image.url }}" alt="{{ event.name }}" class="event-image">
            </a>
            {% else %}
            <img src="{{ MEDIA_URL }}placeholder.png" alt="{{ event.name }}" class="event-image">
            {% endif %}
        </div>

        <div class="col-sm-12 col-md-5 offset-md-2">
            <div class="mobile-font">
                {{ event.description }}
            </div>

            <!-- Idea for customisable item dropdowns taken from Boutique Ado project -->

            <div class="row ">

                <form class="form" action="{% url 'join_event' event.id %}" method="POST">
                    {% csrf_token %}



                    <div class="row justify-content-center pt-3 pb-2">
                        <div class="col check-eject pt-3 pb-2">
                            <a href="{% url 'events' %}" class="btn btn-outline-success text-green w-100">
                                <i class="far fa-calendar-alt"></i>
                                &nbsp;&nbsp;Upcoming events
                            </a>
                        </div>
                        <div class="col check-eject pt-3 pb-2">
                            <input type="submit" value="Join" class="btn btn-outline-success text-green w-100" name="add-cart">
                        </div>
                    </div>

                    {% if request.user.is_superuser %}
                    <div class="row justify-content-center pt-3 pb-2">
                        <div class="col check-eject pt-3 pb-2">
                            <a href="{% url 'edit_event' event.id %}" class="btn btn-outline-warning"
                                style="width: 100%;">
                                <i class="fas fa-wrench"></i>
                                Edit Event
                            </a>
                        </div>
                        <div class="col check-eject pt-3 pb-2">
                            <button
                                type="button" class="btn btn-outline-danger"
                                style="width: 100%;" id="deletionButton">
                                <i class="far fa-trash-alt"></i>
                                Delete Event
                            </button>
                        </div>
                    </div>
                    {% endif %}

                    <!-- sends the current URL to the next page so we can redirect reverse from there -->
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            
            </div>

        </div>

    </div>
</div>

<!-- Modal for confirming deletions -->
<!-- Does this need a from_event that changes the modal description and action? -->
{% include 'includes/deletion-modal.html' %}

{% endblock %}