{% extends "base.html" %}
{% load static %}

{% block extratitle %}
Guestlist for {{ event.event_name }} |
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block page_header %}
{% include 'includes/page-header.html' with h3_title=event.event_name %}
{% endblock %}

{% block content %}

<div class="container">
    
    <div class="row">

        <div class="col-sm-12 col-md-5 pt-3 pb-2">
            <!-- logic taken from Boutique Ado project -->
            {% if event.image %}
            <a href="{{ event.image.url }}" target="_blank">
                <!-- change to modal -->
                <img src="{{ event.image.url }}" alt="{{ event.name }}" class="event-image">
            </a>
            {% else %}
            <img src="{{ MEDIA_URL }}placeholder.png" alt="{{ event.name }}" class="event-image">
            {% endif %}
        </div>

        <div class="col-sm-12 col-md-5 offset-md-2 pt-3 pb-2">
            <div class="mobile-font">
                {{ event.description }}
            </div>

            <div class="row ">
                    
                    <div class="row justify-content-center pt-3 pb-2">
                        <div class="col check-eject pt-3 pb-2">
                            <a href="{% url 'events' %}" class="btn btn-outline-success text-green w-100">
                                <i class="far fa-calendar-alt"></i>
                                &nbsp;&nbsp;All events
                            </a>
                        </div>
                        <div class="col check-eject pt-3 pb-2">
                            <a href="{% url 'events' %}" class="btn btn-outline-success text-green w-100">
                                <i class="far fa-calendar-alt"></i>
                                &nbsp;&nbsp;All events
                            </a>
                        </div>
                        <div class="col check-eject pt-3 pb-2">
                            <input type="submit" value="RSVP" class="btn btn-outline-success text-green w-100" name="add-cart">
                        </div>
                    </div>

            
            </div>

        </div>

    </div>
</div>

<!-- Modal for confirming deletions -->
{% if request.user.is_superuser %}
{% include 'includes/del-event-modal.html' %}
{% endif %}

{% endblock %}