{% extends "base.html" %}
{% load static %}

{% block extratitle %}
{{ event.event_name }} |
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block page_header %}
{% include 'includes/page-header.html' with h3_title=event.event_name %}
{% endblock %}

{% block content %}

<div class="container">

    <div class="row text-uppercase">
        <div class="col list-inline">
            <li class="breadcrumb list-inline-item">
                <a href="{% url 'events' %}" class="text-green">All Events</a>
            </li>
            <li class="breadcrumb list-inline-item">
                <i class="fas fa-angle-right text-green"></i>
            </li>
            <li class="breadcrumb list-inline-item text-green">
                    {{ event.event_name }}
            </li>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12 col-md-5 pt-3 pb-2">
            <!-- logic taken from Boutique Ado project -->
            {% if event.image %}
            <a href="{{ event.image.url }}" target="_blank">
                <!-- change to modal -->
                <img src="{{ event.image.url }}" alt="{{ event.name }}" class="event-image">
            </a>
            {% else %}
            <img src="{{ MEDIA_URL }}city-square.png" alt="{{ event.name }}" class="event-image">
            {% endif %}
        </div>

        <div class="col-sm-12 col-md-5 offset-md-2 pt-3 pb-2">

            {% if sold_out == True %}
            <h6 class="mobile-font back-lightred text-offwhite text-center px-3 py-3 w-100">
                Sold Out!
            </h6>
            {% elif limited_avail == True %}
            <h6 class="mobile-font back-lightred text-offwhite text-center px-3 py-3 w-100">
                Limited availability!
            </h6>
            {% endif %}

            <div class="mobile-font my-3">
                <i class="far fa-calendar-alt text-green"></i>&nbsp;&nbsp;{{ event.date }}
            </div>

            <div class="mobile-font">
                {{ event.description }}
            </div>

            <!-- Idea for customisable item dropdowns taken from Boutique Ado project -->
            <div class="row justify-content-center">

                <form class="form" action="{% url 'join_event' event.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row pt-3 pb-2">
                        {% if sold_out == False %}
                            {% if request.user in guest_names %}
                            <div class="col check-eject pt-3 pb-2 d-flex justify-content-center"> 
                                <div class="btn btn-primary back-green text-offwhite" style="cursor: initial;">
                                    <i class="fas fa-ticket-alt"></i>&nbsp;&nbsp;You've got a ticket!
                                </div>
                            </div>
                            {% else %}
                            <div class="col check-eject pt-3 pb-2 d-flex justify-content-center"> 
                                <input type="submit" value="RSVP" name="RSVP"
                                    class="btn btn-primary back-green text-offwhite"> 
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>

                    {% if request.user.is_superuser %}
                    <div class="row justify-content-center pt-5 pb-2">
                        <div class="col-12">
                            <h5 class="text-green text-center">Admin Controls</h5>
                        </div>
                    </div>
                    <div class="row pt-3 pb-2">
                        <div class="col-12 col-sm-6 pt-3 pb-2">
                            <a href="{% url 'edit_event' event.id %}" class="btn btn-outline-warning w-100" aria-label="Edit Event">
                                <i class="fas fa-wrench"></i>
                                Edit
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 check-eject pt-3 pb-2">
                            <button type="button" class="btn btn-outline-danger w-100" id="delEventButton" aria-label="Delete event">
                                <i class="far fa-trash-alt"></i>
                                Delete
                            </button>
                        </div>
                    </div>
                    {% endif %}

                    <!-- sends the current URL to the next page so we can redirect reverse from there -->
                    <!-- is this being used in this view or is it a hangover from the CI tutorial? -->
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>

            </div>

            <!-- Guestlist, see bugfix #10 -->
            {% if request.user.is_superuser %}

            <div class="row pt-3 pb-2 d-flex justify-content-center">
                <h6 class="text-green">Guestlist ({{ attendance }} of {{ event.capacity }})</h6>
            </div>

                {% if guestlist|length > 0 %}
                <div class="row pt-3 pb-2 d-flex justify-content-center">
                    <div class="table-responsive table-sm table-hover">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>User</th>
                                    <th>Uninvite</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for guest in guestlist %}
                                <tr>
                                    <td>{{ guest.user }}</td>
                                    <td>{{ guest.username }}</td>
                                    <td>
                                        <a href="{% url 'delete_attendee' guest.attendee_key %}" class="btn btn-sm btn-outline-danger">
                                            <i class="far fa-trash-alt fa-sm"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% else %}
                <p class="mobile-font d-flex justify-content-center">No guests attending yet!</p>
                {% endif %}
            {% endif %}

        </div>

    </div>
</div>

<!-- Modal for confirming deletions -->
{% if request.user.is_superuser %}
{% include 'includes/del-event-modal.html' %}
{% endif %}

{% endblock %}