{% extends "base.html" %}
{% load static %}
{% load cart_tools %}
<!-- build the loyalty totaller in cart_tools as well -->

{% block extratitle %}
My Cart |
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block page_header %}
{% include 'includes/page-header.html' with h3_title="My Cart" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-md-10 offset-md-1">

            {% if cart_items %}
            <div class="table-responsive table-sm">
            <table class="table mobile-font">
                <thead>
                    <tr>
                        <th class="d-none d-md-block" scope="col">&nbsp;</th>
                        <th colspan="2" class="text-red" scope="col">Item</th>
                        <th colspan="2" class="text-red" scope="col">Qty</th>
                        <th colspan="1" class="text-red" scope="col">Price</th>
                        <th colspan="1" class="text-red d-none d-md-block" scope="col">Total
                        </th>
                        <th colspan="1" class="text-red" scope="col">Update</th>
                        <th colspan="1" class="text-red" scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td colspan="1" class="d-none d-md-block">
                            {% if item.product.image %}
                            <a href="{{ item.product.image.url }}" target="_blank">
                                <!-- change to modal -->
                                <img src="{{ item.product.image.url }}" alt="{{ product.name }}" class="product-image"
                                    style="max-width: 10vh;">
                            </a>
                            {% else %}
                            <a href="{{ MEDIA_URL }}placeholder.png" target="_blank">
                                <img src="{{ MEDIA_URL }}placeholder.png" alt="{{ product.name }}" class="product-image"
                                    style="max-width: 10vh;">
                            </a>
                            {% endif %}
                        </td>
                        <td colspan="2">
                            <a href="{% url 'view_product' item.product.id %}" class="product-name">
                                {{ item.product.name }}
                            </a>
                        </td>

                        <!-- Quantity selector -->
                        <!-- Same code as in view_product, this is taken from the Boutique Ado project -->
                        <td colspan="2" class="form-container">
                            <form method="POST" action="{% url 'update_cart' item.item_id %}" class="update-form">
                                {% csrf_token %}
                                <div class="justify-content-center qty-panel">
                                    <div class="col">
                                        <button class="btn btn-sm text-offwhite back-green decrease-qty"
                                            data-item_id="{{ item.item_id }}" id="decrease-qty_{{ item.item_id }}"
                                            aria-label="Decrease quantity for {{ product.name }}">
                                            <i class="fas fa-minus fa-sm mobile-font"></i>
                                        </button>
                                        <!-- needs validation message if user types number out of range -->
                                        <input class="qty-select mobile-font" type="number" name="quantity"
                                            value="{{ item.quantity }}" min="1" max="49"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">

                                        <button class="btn btn-sm text-offwhite back-green increase-qty"
                                            data-item_id="{{ item.item_id }}" id="increase-qty_{{ item.item_id }}"
                                            aria-label="Increase quantity for {{ product.name }}">
                                            <i class="fas fa-plus fa-sm mobile-font"></i>
                                        </button>
                                    </div>
                                </div>
                                {% if item.product.sizable %}
                                <input type="hidden" name="product_size" value="{{ item.size }}">
                                {% endif %}
                            </form>
                        </td>
                        <td colspan="1" class="justify-content-center">
                            €{{ item.product.price }}
                        </td>
                        <td colspan="1" class="justify-content-between d-none d-md-table-cell">
                            €{{ item.product.price | calc_subtotal:item.quantity }}
                        </td>
                        <td colspan="1">
                            <a class="btn btn-outline-success update-item" aria-label="Update {{ product.name }} quantity">
                                <i class="far fa-check-square fa-sm text-green"></i>
                            </a>
                        </td>
                        <td colspan="1">
                            <a class="btn btn-outline-danger remove-item" id="remove_{{ item.item_id }}"
                                data-product_size="{{ item.size }}" aria-label="Remove {{ product.name }} from basket">
                                <i class="far fa-trash-alt fa-sm text-lightred"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                    <tr>
                        <td colspan="8" class="cart-total">Subtotal:</td>
                        <td colspan="2">€{{ total|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <td colspan="8" class="cart-total">Delivery:</td>
                        <td colspan="2">€{{ delivery|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <td colspan="8" class="cart-total">Total: </td>
                        <td colspan="2">€{{ grand_total|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <td colspan="9" class="justify-content-center">
                            <i class="fas fa-stamp"></i>&nbsp;&nbsp;You'll earn {{ loyalty_stamps }} {% if loyalty_stamps != 1 %}stamps{% else %}stamp{% endif %} in this
                            transaction.
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>

            <div class="row">
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-outline-success" id="backShopBtn">
                        <i class="fas fa-shopping-cart"></i>&nbsp;
                        <a href="{% url 'products' %}" class="mobile-font text-green">Back to Store</a>
                    </button>
                </div>
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-outline-success" id="checkoutBtn">
                        <i class="fas fa-lock"></i>&nbsp;
                        <a href="{% url 'checkout' %}" class="mobile-font text-green">Checkout</a>
                    </button>
                </div>
            </div>
            {% else %}
            Your cart is empty.

            <a href="{% url 'products' %}" class="text-green"> Click here</a> to browse our range.
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'cart/js/cart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/quantitySelect.js' %}"></script>
<script type="text/javascript">

    /* Update and Remove Items - Modified parts of Boutique Ado cart update process */
    $('.update-item').click(function (e) {
        var form = $(this).parent().siblings('.form-container').children('.update-form');
        form.submit();
    })

    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/cart/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken, 'product_size': size };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}