{% extends "base.html" %}
{% load static %}
{% load cart_tools %}
<!-- would probably be a good idea to build the loyalty totaller in cart_tools as well -->

{% block extratitle %}
My Cart |
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block page_header %}
<div class="row cart-header back-green">
    <h4 class="text-white right">My Cart</h4>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 l10 offset-l1">
            {% if cart_items %}

            <table class="highlight">
                <thead>
                    <tr>
                        <th class="hide-on-med-and-down">
                            <!-- blank -->
                        </th>
                        <th colspan="2" class="center-align text-red">Item</th>
                        <th colspan="1" class="center-align text-red">Quantity</th>
                        <th colspan="1" class="center-align text-red">Price</th>
                        <th colspan="1" class="center-align text-red hide-on-med-and-down">Subtotal</th>
                        <th colspan="1" class="center-align text-red">Update Cart</th>
                        <th colspan="1" class="center-align text-red">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td colspan="1" class="hide-on-med-and-down">
                            <img src="{{ item.product.image.url }}" style="height: 10vh;">
                        </td>
                        <td colspan="2">
                            {{ item.product.name }}
                        </td>

                        <!-- Quantity selector -->
                        <!-- Same code as in product_detail, this is taken from the Boutique Ado project -->
                        <!-- action="{% url 'update_cart' item.item_id %}" -->
                        <td colspan="1" class="form-container">
                            <form method="POST" action="{% url 'update_cart' item.item_id %}" class="update-form">
                                {% csrf_token %}
                                <div class="center-align qty-panel">
                                    <div class="col s3">
                                        <button class="btn-small waves-effect text-white back-green decrease-qty"
                                            data-item_id="{{ item.item_id }}" id="decrease-qty_{{ item.item_id }}">
                                            <i class="fas fa-minus fa-sm"></i>
                                        </button>
                                    </div>
                                    <div class="col s6">
                                        <!-- needs validation message if user types number out of range -->
                                        <input class="qty-select" type="number" name="quantity"
                                            value="{{ item.quantity }}" min="1" max="49"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                    </div>
                                    <div class="col s3"></div>
                                    <button class="btn-small waves-effect text-white back-green increase-qty"
                                        data-item_id="{{ item.item_id }}" id="increase-qty_{{ item.item_id }}">
                                        <i class="fas fa-plus fa-sm"></i>
                                    </button>
                                </div>
                                {% if item.product.sizable %}
                                <input type="hidden" name="product_size" value="{{ item.size }}">
                                {% endif %}
                            </form>
                        </td>
                        <td colspan="1" class="center-align">
                            €{{ item.product.price }}
                        </td>
                        <td colspan="1" class="center-align hide-on-med-and-down">
                            €{{ item.product.price | calc_subtotal:item.quantity }}
                        </td>
                        <td colspan="1" class="center-align">
                            <a class="btn-small update-item back-green">
                                <i class="far fa-check-square text-white"></i>
                            </a>
                        </td>
                        <td colspan="1" class="center-align">
                            <a class="btn-small remove-item back-red" id="remove_{{ item.item_id }}"
                                data-product_size="{{ item.size }}">
                                <i class="far fa-trash-alt text-white"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="hide-on-med-and-down"></td>
                        <td class="hide-on-med-and-down"></td>
                        <td class="hide-on-med-and-down"></td>
                        <td colspan="1" class="cart-total">Subtotal:</td>
                        <td>€{{ total|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <td class="hide-on-med-and-down"></td>
                        <td class="hide-on-med-and-down"></td>
                        <td class="hide-on-med-and-down"></td>
                        <td colspan="1" class="cart-total">Delivery:</td>
                        <td>€{{ delivery|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <td class="hide-on-med-and-down"></td>
                        <td class="hide-on-med-and-down"></td>
                        <td class="hide-on-med-and-down"></td>
                        <td colspan="1" class="cart-total">Total: </td>
                        <td>€{{ grand_total|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="center-align">
                            <i class="fas fa-award"></i>&nbsp;&nbsp;You'll earn {{ loyalty_stamps }} stamps in this
                            transaction.
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row center-align">
                <div class="col s12 m8 offset-m2">
                    <button class="btn-large waves-effect back-green">
                        <a href="#" class="text-white">Back to Store</a>
                    </button>
                    <button class="btn-large waves-effect text-white back-green">
                        <a href="#" class="text-white">Checkout</a>
                    </button>
                </div>
            </div>
            {% else %}
            Your cart is empty.

            <a href="{% url 'products' %}" class="text-green"> Click here</a> to browse our range.
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'cart/js/cart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/quantitySelect.js' %}"></script>
<script type="text/javascript">

    /* Update and Remove Items - Modified parts of Boutique Ado cart update process */
    $('.update-item').click(function (e) {
        var form = $(this).parent().siblings('.form-container').children('.update-form');
        form.submit();
    })

    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/cart/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken, 'product_size': size };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })

</script>
{% endblock %}