{% extends "base.html" %}
{% load static %}

{% block extratitle %}
Administration |
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
{% include 'includes/page-header.html' with h3_title="Admin Panel" %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col d-flex justify-content-center">
        <a href="{% url 'add_product' %}" class="btn btn-lg btn-outline-success p-3 m-3">
            <i class="fas fa-coffee fa-lg"></i>&nbsp;&nbsp;Add a Product
        </a>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-center">
        <a href="{% url 'add_event' %}" class="btn btn-lg btn-outline-success p-3 m-3">
            <i class="far fa-calendar-alt fa-lg"></i>&nbsp;&nbsp;Add an Event
        </a>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-center">
        <a href="{% url 'admin_orders' %}" class="btn btn-lg btn-outline-success p-3 m-3">
            <i class="fas fa-receipt fa-lg"></i>&nbsp;&nbsp;View All Orders
        </a>
    </div>
</div>

{% endblock %}