{% extends "base.html" %}
{% load static %}

{% block extratitle %}
{{ request.user }}'s Profile |
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="row profile-header back-green">
    <h4 class="col-sm-12 col-md-5 offset-md-6 text-offwhite text-center text-md-right">Your Profile</h4>
</div>
{% endblock %}

{% block content %}

<div class="row">
    <h5 class="text-green pt-3 pb-2">
        {% if time.hour > 17 %}
        Good evening, {{ request.user|title }}!
        {% elif time.hour > 11 %}
        Good afternoon, {{ request.user|title }}!
        {% else %}
        Good morning, {{ request.user|title }}!
        {% endif %}
        <!-- add forename in here instead of screen name, check at multiple times -->
    </h5>
    <p>
        <!-- Blurb about profile features -->
    </p>
</div>

<div class="row pt-3 pb-2">
    <div class="col-sm col-md-6 justify-content-xs-center justify-content-md-left">
        <h6 class="text-green pt-3 pb-2">My profile information</h6>
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <form method="POST" action="{% url 'profile' %}" id="profile-update-form" class="text-left">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="row">
                        <button class="btn btn-sm btn-outline-success text-green">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs col-md-6 justify-content-xs-center justify-content-md-left">
        <h6 class="text-green pt-3 pb-2">Loyalty Points</h6>
        <div class="row"></div>
    </div>
</div>

<div class="row pt-3 pb-2">
    <div class="col-xs col-md-6 justify-content-xs-center justify-content-md-left">
        <!-- Order history format taken from Boutique Ado -->
        <h6 class="text-green pt-3 pb-2">My order history</h6>
        <div class="row">
            <div class="col-sm-12 col-md-10">
                <div class="profile-history table-responsive table-hover table-sm">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <a
                                        href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}"
                                        class="text-green">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>
                                    {{ order.date }}
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                        <li class="small">
                                            {% if item.product.sizable %}
                                            {{ item.quantity }} x {{ item.product_size }}{% endif %} {{ item.product.name }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    {{ order.order_total }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs col-md-6 justify-content-xs-center justify-content-md-left">
        <h6 class="text-green pt-3 pb-2">My events</h6>
        <div class="row">
        </div>
    </div>
</div>

{% include 'includes/post-purchase.html' %}

{% endblock %}