{% extends "base.html" %}
{% load static %}

{% block extratitle %}
{{ profile }}'s Profile |
{% endblock %}
<!-- insert username above-->

{% block extracss %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="row checkout-header back-green">
    <h4 class="col-sm-12 col-md-5 offset-md-6 text-offwhite text-right">Your Profile</h4>
</div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm col-md-6 justify-content-xs-center justify-content-md-left">
            <h6 class="text-green">My profile information</h6>
            
        </div>
        <div class="col-xs col-md-6 justify-content-xs-center justify-content-md-left">
            <h6 class="text-green">Loyalty</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-xs col-md-6 justify-content-xs-center justify-content-md-left">
            <h6 class="text-green">My order history</h6>
        </div>
        <div class="col-xs col-md-6 justify-content-xs-center justify-content-md-left">
            <h6 class="text-green">My events</h6>
        </div>
     </div>
{% endblock %}