{% extends "base.html" %}
{% load static %}

{% block extratitle %}
Site Order History |
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
{% include 'includes/page-header.html' with h3_title="Site Order History" %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col d-flex justify-content-center">
        <div class="table-responsive table-sm">
            <table class="table">
                <thead>
                    <tr>
                        <th class="mobile-font">Date</th>
                        <th class="mobile-font">User</th>
                        <th class="mobile-font">Name</th>
                        <th class="mobile-font d-none d-md-block">Email Address</th>
                        <th class="mobile-font">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in all_orders %}
                    <tr>
                        <td>
                            <a href="{% url 'order_history' order.order_number %}"
                                title="{{ order.order_number }}" class="text-green mobile-font">
                                {{ order.date }}
                            </a>
                        </td>
                        <td class="mobile-font">{{ order.user_profile }}</td>
                        <td class="mobile-font">{{ order.full_name }}</td>
                        <td class="mobile-font d-none d-md-block">{{ order.email }}</td>
                        <td class="mobile-font">{{ order.grand_total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>

{% endblock %}