{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extratitle %}
Order Summary |
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
{% if from_profile %}
{% include 'includes/page-header.html' with h3_title="Order History" %}
{% else %}
{% include 'includes/page-header.html' with h3_title="Order Confirmation" %}
{% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <!-- Cheers Blurb -->
    <div class="col-12 col-md-8 offset-md-2 text-center">
        {% if from_profile %}
        <h5 class="text-green pt-1 pt-md-3 pb-1 pb-md-2">Order Number: {{ order.order_number }}</h5>
        <p>Placed on {{ order.date|slice:10 }}</p>
        {% else %}
        <h5 class="text-green">
            <a href="https://www.youtube.com/watch?v=zf7I_FpTWsM" target="_blank" class="text-green" id="choochoo">
                Have a campa-choo-choo on us!
            </a>
        </h5>
        <p class="mobile-font">Thank you for supporting a local business today! Your order number is {{ order.order_number }}.</p>
        <h4 class="text-green pt-1 pt-md-3 pb-1 pb-md-2">
            <i class="fas fa-hourglass-start"></i>
        </h4>
        <p class="mobile-font">
            Your order will arrive within sixty minutes. Our delivery driver may contact you on the number below prior to arrival.
        </p>
        <p class="mobile-font">We've sent an order confirmation to {{ order.email }}.</p>
        {% endif %}
    </div>
</div>

<div class="row justify-content-center pt-1 pt-md-3 pb-1 pb-md-2">

    <!-- Customer Details -->
    <div class="col-12 col-md-5">
        <div class="row">
            <h6 class="text-green text-xs-center w-100 px-2">Your Details</h6>
        </div>
        <div class="summary-row mt-1">
            <p class="w-100">Name: {{ order.full_name|title }}</p>
            <p class="w-100">Contact Number: {{ order.phone_number }}</p>
        </div>
    </div>

    <!-- Order Summary -->
    <div class="col-12 col-md-7">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <h6 class="text-green px-2">Item Summary</h6>
                </div>
                <div class="row summary-header">
                    <div class="col-6">Description</div>
                    <div class="col-2">Qty</div>
                    <div class="col-2">Subtotal</div>
                </div>
                {% for item in order.lineitems.all %}
                <div class="row summary-row">
                    <div class="col-6">
                        <p class="text-wrap">
                            <a href="{ url 'view_product' product.id %}" class="text-black">
                                {% if item.size %}{{ item.size|title }}{% endif %}&nbsp;{{ item.product.name }}
                            </a>
                        </p>
                    </div>
                    <div class="col-2">{{ item.quantity }}</div>
                    <div class="col-2">€{{ item.product.price | calc_subtotal:item.quantity }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

<div class="row justify-content-center">

    <!-- Payment Details -->
    <div class="col-12 col-md-5">
        <div class="row">
            <h6 class="text-green px-2">Payment Details</h6>
        </div>
        <div class="row summary-row">
            <p class="w-100 px-2">
                <i class="fas fa-coffee"></i>
                &nbsp;&nbsp;Subtotal: €{{ order.order_total }}</p>
            {% if order.delivery_cost %}
            <p class="w-100 px-2">
                <i class="fas fa-truck"></i>
                &nbsp;&nbsp;Delivery Charge: €{{ order.delivery_cost }}</p>
            {% else %}
            <p class="w-100 px-2">You qualified for free delivery!</p>
            {% endif %}
            <p class="w-100 px-2">
                <i class="far fa-credit-card"></i>
                &nbsp;&nbsp;Total: €{{ order.grand_total }}</p>
        </div>
    </div>

    <!-- Delivery Details -->
    <div class="col-12 col-md-7">
        <div class="row px-2">
            <h6 class="text-green text-xs-center text-md-right">Delivery Details</h6>
        </div>
        <div class="row summary-row px-2">
            <p class="w-100">Street Address:</p>
            <p class="w-100">{{ order.street_address1|title }}, {% if order.street_address2 %}{{ order.street_address2|title }}
                {% endif %}</p>
            <p class="w-100">City: {{ order.city|title }}</p>
            <p class="w-100">Eircode: {{ order.eircode|upper }}</p>
        </div>
    </div>
</div>

<!-- Post-Purchase Options -->
{% include 'includes/post-purchase.html' %}

{% endblock %}