{% extends "base.html" %}
{% load static %}

{% block extratitle %}
Order Confirmation |
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="row checkout-header back-green">
    <h4 class="col-sm-12 col-md-5 offset-md-6 text-offwhite text-right">
        {% if from_profile %}Order History{% else %}Order Confirmation{% endif %}</h4>
</div>

{% endblock %}

{% block content %}


<div class="row">
    <!-- Cheers Blurb -->
    <div class="col-sm-12 col-md-8 offset-md-2 text-center">
        {% if from_profile %}
        <h5 class="text-green">Order Number: {{ order.order_number }}</h5>
        <p>Placed on {{ order.date|slice:10 }}</p>
        {% else %}
        <h5 class="text-green">
            <a href="https://www.youtube.com/watch?v=zf7I_FpTWsM" target="_blank" class="text-green" id="choochoo">
                Have a campa-choo-choo on us!</a>
        </h5>
        <p>Thank you for supporting a local business today! Your order number is {{ order.order_number }}.</p>
        <p>We've sent you an order confirmation to {{ order.email }}.</p>
        {% endif %}
    </div>
</div>

<div class="row justify-content-center">

    <!-- Customer Details -->
    <div class="col-sm-12 col-md-5">
        <div class="row">
            <h6 class="text-green text-xs-center text-md-right">Your Details</h6>
        </div>
        <div class="summary-row">
            <p>Name:</p>
            <p>{{ order.full_name|title }}</p>
            <p>Contact Number: </p>
            <p>{{ order.phone_number }}</p>
            {% if user.is_authenticated %}
            <p>Loyalty Points Earned: </p>
            <p>{{ order.loyalty_stamps }}</p>
            <p>Current Loyalty Balance:</p>
            <p>Loyalty balance here</p>
            {% endif %}
        </div>
    </div>

    <!-- Order Summary -->
    <div class="col-sm-12 col-md-7">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <h6 class="text-green text-xs-center text-md-right">Item Summary</h6>
                </div>
                <div class="row summary-header">
                    <div class="col-sm-6">Description</div>
                    <div class="col-sm-2">Quantity</div>
                    <div class="col-sm-2">Subtotal</div>
                </div>
                {% for item in order.lineitems.all %}
                <div class="row summary-row">
                    <div class="col-sm-6">
                        <p class="text-wrap">
                            <a href="{ url 'view_product' product.id %}" class="text-black">
                                {% if item.size %}{{ item.size|title }}{% endif %}&nbsp;{{ item.product.name }}
                            </a>
                            {% if item.milk %} - {{ item.milk }}{% endif %}
                            {% if item.flavour %} - {{ item.flavour }}{% endif %}
                        </p>
                    </div>
                    <div class="col-sm-2">{{ item.quantity }}</div>
                    <div class="col-sm-2">€{{ item.product.price }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
</div>
    
<div class="row justify-content-center">

    <!-- Payment Details -->
    <div class="col-sm-12 col-md-5">
        <div class="row">
            <h6 class="text-green text-xs-center text-md-right">Payment Details</h6>
        </div>
        <div class="row summary-row">
            <p>Subtotal:</p>
            <p>€{{ order.order_total|floatformat:2 }}</p>
            {% if order.delivery_cost %}
            <p>
                <i class="fas fa-truck"></i>
                &nbsp;&nbspDelivery Charge:
            </p>
            <p>€{{ order.delivery_cost|floatformat:2 }}</p>
            {% else %}
            <p>You qualified for free delivery!</p>
            {% endif %}
            <p>
                <i class="far fa-credit-card"></i>
                &nbsp;&nbsp;Total:</p>
            <p>€{{ order.grand_total|floatformat:2 }}</p>
        </div>
    </div>
    
    <!-- Delivery Details -->
    <div class="col-sm-12 col-md-7">
        <div class="row">
            <h6 class="text-green text-xs-center text-md-right">Delivery Details</h6>
        </div>
        <div class="row summary-row">
            <!-- Add if statement to confirm presence of non-mandatory items -->
            <p>Street Address:</p>
            <p>{{ order.street_address1|title }}, {% if order.street_address2 %}{{ order.street_address2|title }}
                    {% endif %}</p>
            <p>City: </p>
            <p>{{ order.city|title }}</p>
            <p>Eircode:</p>
            <p>{{ order.eircode|upper }}</p>
        </div>
    </div>
</div>

<!-- Post-Purchase Options -->

{% include 'includes/post-purchase.html' %}

{% endblock %}