{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extratitle %}
Order Summary |
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="row checkout-header back-green">
    <h4 class="col-sm-12 col-md-5 offset-md-6 text-offwhite text-right">Checkout</h4>
</div>
{% endblock %}

{% block content %}
<!-- Format taken from Boutique Ado project and customised -->

    <div class="row">
        <!-- Order Summary -->
        <div class="col-sm-12 col-md-7">
            <h6 class="text-green">Item Summary</h6>
            <div class="row summary-header">
                <div class="col-md-2 d-none d-md-block"></div>
                <div class="col-sm-6">Description</div>
                <div class="col-sm-2">Quantity</div>
                <div class="col-sm-2">Subtotal</div>
            </div>
            {% for item in cart_items %}
            <div class="row summary-row justify-content-sm-center">
                <div class="col-md-2 d-none d-md-block">
                    {% if item.product.image %}
                    <a href="{{ item.product.image.url }}" target="_blank">
                        <!-- change to modal -->
                        <img src="{{ item.product.image.url }}" alt="{{ product.name }}" class="product-image">
                    </a>
                    {% else %}
                    <img src="{{ MEDIA_URL }}placeholder.png" alt="{{ product.name }}" class="product-image">
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <p class="text-wrap">
                    <a href="{ url 'view_product' product.id %}" class="text-black">
                        {% if item.size %}{{ item.size|title }}{% endif %}&nbsp;{{ item.product.name }}
                    </a>
                    {% if item.milk %} - {{ item.milk }}{% endif %}
                    {% if item.flavour %} - {{ item.flavour }}{% endif %}
                    </p>
                </div>
                <div class="col-sm-2">{{ item.quantity }}</div>
                <div class="col-sm-2">€{{ item.product.price | calc_subtotal:item.quantity }}</div>
            </div>
            {% endfor %}

            <div class="row">
                <h6 class="text-green order-summary">Order Summary</h6>
                <div>
                    Subtotal:
                    €{{ total|floatformat:2 }}
                </div>
                <div>
                    <i class="fas fa-percent"></i>&nbsp;&nbsp;VAT:
                    €
                </div>
                <div>
                    <i class="fas fa-truck"></i>&nbsp;&nbsp;Delivery:
                    €{{ delivery|floatformat:2 }}
                </div>
                <div>
                    <i class="far fa-credit-card"></i>&nbsp;&nbsp;Grand Total:
                    €{{ grand_total|floatformat:2 }}
                </div>
                <div>
                    <i class="fas fa-stamp text green"></i>&nbsp;&nbsp;Loyalty: {% if user.is_authenticated %}
                    You'll earn {{ loyalty_stamps }} stamps.
                    {% else %}
                    <a href="{% url 'account_signup' %}">Sign up</a> and earn 
                    {{ loyalty_stamps }} stamps.
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Details and Payment -->
        <div class="col-sm-12 col-md-5">
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset>
                    <legend class="fieldset-label text-green">Your Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                </fieldset>

                <!-- add if loop here, if delivery do this, if collection make another fieldset -->
                <fieldset>
                    <legend class="fieldset-label text-green">Address</legend>
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.city | as_crispy_field }}
                    {{ order_form.eircode | as_crispy_field }}
                    <div class="form-check form-check-inline">
                        {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Update my profile with this address</label>
                        <input class="form-check-input" type="checkbox" id="id-save-info" name="save-info">
                        <!-- add hidden element here for loyalty once you see how save info button works-->
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a href="{% url 'account_signup' %}" class="text-green">Register</a> for express checkout
                            next time or
                            <a href="{% url 'account_login' %}" class="text-green">sign in</a> to update your profile
                            information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>

                <fieldset>
                    <legend class="fieldset-label text-green">Payment Details</legend>
                    <div id="card-element"></div>
                    <div id="card-errors" class="text-danger" role="alert"></div>
                </fieldset>

                <div class="w-100">
                    <a href="{% url 'view_cart' %}" class="btn btn-outline-success text-green">
                        <i class="fas fa-wrench"></i>
                        &nbsp;
                        Edit Order
                    </a>
                    <button id="submit-button" class="btn btn-outline-success text-green">
                        <i class="far fa-credit-card"></i>
                        &nbsp;
                        Pay
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}