{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extratitle %}
Order Summary |
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
{% include 'includes/page-header.html' with h3_title="Checkout" %}
{% endblock %}

{% block content %}
<!-- Format taken from Boutique Ado project and customised -->

    <div class="row">
        <!-- Item Summary -->
        <div class="col-12 col-md-7">
            <h6 class="text-green pt-3 pb-2">Item Summary</h6>

            <div class="table-responsive table-sm">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="d-none d-md-block">&nbsp;</th>
                            <th class="mobile-font">Description</th>
                            <th class="mobile-font">Qty</th>
                            <th class="mobile-font">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr>
                            <td class="d-none d-md-block">
                                {% if item.product.image %}
                                <img src="{{ item.product.image.url }}" alt="{{ product.name }}" class="checkout-image">
                                {% else %}
                                <img src="{{ MEDIA_URL }}placeholder.png" alt="{{ product.name }}" class="checkout-image">
                                {% endif %}
                            </td>
                            <td class="mobile-font">
                                <a href="{ url 'view_product' product.id %}" class="text-green">
                                    {% if item.size %}{{ item.size|title }}{% endif %}&nbsp;{{ item.product.name }}
                                </a>
                            </td>
                            <td class="mobile-font">{{ item.quantity }}</td>
                            <td class="mobile-font">€{{ item.product.price | calc_subtotal:item.quantity }}</td>
                        </tr>
                        {% endfor %}                        
                    </tbody>
                </table>
            </div>

            <!-- Order Summary -->
            <div class="row mobile-font">
                <h6 class="text-green order-summary pt-3 pb-2 px-3 w-100">Order Summary</h6>
                {% include 'cart/cart-total.html' %}
            </div>
        </div>

        <!-- Details and Payment -->
        <div class="col-sm-12 col-md-5">
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset>
                    <legend class="fieldset-label text-green pt-3 pb-2">Your Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                </fieldset>

                <fieldset>
                    <legend class="fieldset-label text-green pt-3 pb-2">Address</legend>
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.city | as_crispy_field }}
                    {{ order_form.eircode | as_crispy_field }}
                    <div class="form-check form-check-inline">
                        {% if user.is_authenticated %}
                        <input class="form-check-input" type="checkbox" id="id-save-info" name="save_info">
                        <label class="form-check-label" for="id-save-info">Update my profile with this address</label>
                        <!-- add hidden element here for loyalty once you see how save info button works-->
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a href="{% url 'account_signup' %}" class="text-green">Register</a> for express checkout
                            next time or
                            <a href="{% url 'account_login' %}" class="text-green">sign in</a> to update your profile
                            information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>

                <fieldset>
                    <legend class="fieldset-label text-green pt-3 pb-2">Payment Details</legend>
                    <div id="card-element"></div>
                    <div id="card-errors" class="text-danger" role="alert"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>

                <div class="d-flex justify-content-center">
                    <a href="{% url 'view_cart' %}" class="btn btn-outline-success text-green mx-2 my-3">
                        <i class="fas fa-wrench"></i>
                        &nbsp;
                        Edit Order
                    </a>
                    <button id="submit-button" class="btn btn-outline-success text-green mx-2 my-3">
                        <i class="far fa-credit-card"></i>
                        &nbsp;
                        Pay
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}