{% extends "base.html" %}
{% load static %}
{% load cart_tools %}
<!-- would probably be a good idea to build the loyalty totaller in cart_tools as well -->

{% block extratitle %}
Order Summary |
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="row checkout-header back-green">
        <h4 class="col-sm-12 col-md-5 offset-md-6 text-offwhite text-right">Order Summary</h4>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-2">

        </div>
    </div>
</div>
{% endblock %}