input.qty-select {
    text-align: center;
}

.product-name {
    color: #008763;
}

a.product-name:hover {
    color: #008763;
    font-weight: 600;
}


/* Buttons (Overwriting default Bootstrap parameters) */

.btn-sm.decrease-qty,
.btn-sm.increase-qty,
.btn-sm.remove-item,
.btn-sm.update-item {
    font-size: 0.75rem;
    height: 2rem;
    line-height: 2rem;
    padding: 0 0 0 0;
    width: 2rem;
}

.btn-sm.decrease-qty:hover,
.btn-sm.increase-qty:hover,
.btn-sm.update-item:hover {
    background-color: #f0eee9;
    color: #008763;
}

.btn-sm.remove-item:hover {
    background-color: #f0eee9;
    color: #e64757;
}

.btn-sm.decrease-qty i,
.btn-sm.increase-qty i {
    font-size: 0.75rem;
}

.update-item,
.remove-item {
    cursor: pointer;
}

.btn-sm.decrease-qty,
.btn-sm.increase-qty {
    font-size: 0.75rem;
    height: 1.5rem;
    line-height: 0.75rem;
    width: 1.5rem;
}

.qty-select {
    width: 70%;
}

.cart-total {
    text-align: right;
}