input.qty-select {
    text-align: center;
}

.product-name {
    color: #008763;
}

a.product-name:hover {
    color: #008763;
    font-weight: 600;
}


/* Buttons (Overwriting default Bootstrap parameters) */

.btn-sm.decrease-qty,
.btn-sm.increase-qty,
.btn.remove-item,
.btn.update-item {
    height: 2rem;
    line-height: 2rem;
    padding: 0 0 0 0;
    width: 2rem;
}

.btn-sm.decrease-qty:hover,
.btn-sm.increase-qty:hover {
    background-color: #f0eee9;
    color: #008763;
}

.btn-sm.decrease-qty i,
.btn-sm.increase-qty i {
    font-size: 0.75rem;
}

.update-item,
.remove-item {
    cursor: pointer;
}

.update-item {
    border-color: #008763;
}

.remove-item {
    border-color: #e64757;
}

.table td {
    border-width: 0px;
    vertical-align: middle;
}

.btn-sm.decrease-qty,
.btn-sm.increase-qty {
    font-size: 0.75rem;
    height: 1.5rem;
    line-height: 0.75rem;
    width: 1.5rem;
}

.cart-total {
    text-align: right;
}


/* Responsiveness to display table on ultra-thin devices */

/* Responsiveness */

@media (max-width: 315px) {
    .btn-sm.update-item,
    .btn-sm.remove-item {
        padding: 0rem 0rem 0rem 0rem;
    }
}

@media (max-width: 350px) {
    .mobile-font {
        font-size: 10px;
    }

    .update-item,
    .remove-item {
        height: 1rem;
        line-height: 1rem;
        width: 1rem;
    }

    table.table thead tr {
        font-size: 10px;
    }
}