/* Strictly for colour selection */

.back-green {
    background-color: #008763;
}

.back-offwhite {
    background-color: #f0eee9;
}

.back-red {
    background-color: #3b0022;
}

.text-black {
    color: #100f10;
}

.text-gold {
    color: #ceca03;
}

.text-green {
    color: #008763;
}

.text-offwhite {
    color: #f0eee9;
}

.text-red {
    color: #3b0022;
}

.text-lightred {
    color: #e64757;
}