.product-cards {
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-image {
    width: 100%;
}

h6.card-title a:hover {
    color: #008763;
}

.card.shop-card {
    border: 1px solid #3b0022;
    padding: 0px;
}

.btn#searchButton,
.btn#searchReset {
    font-family: 'Montserrat';
    font-weight: 600;
}

.btn-sm.filter-button {
    /* Category Descriptions */
    font-family: 'Montserrat';
    font-weight: 600;
}

.sort-button {
    /* Sort By buttons */
    padding: 0 0 0 0;
}

.btn#searchButton:hover,
.btn#searchButton:focus,
.btn.filter-button:hover,
.btn.filter-button:focus,
.btn-sm.filter-button:hover,
.btn-sm.filter-button:focus {
    background-color: #f0eee9;
    border-color: #008763;
    border-width: 1px;
    color: #008763;
}

.btn#searchReset:hover,
.btn#searchReset:focus {
    background-color: #f0eee9;
    border-color: #3b0022;
    border-width: 1px;
    color: #3b0022;
}


/* View Product */

.qty-panel {
    /* element that identifies the row for DOM traversal when updating the product quantity */
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Product Admin */

.form-group label {
    font-size: 12px;
}


/* Responsiveness */

@media (max-width: 576px) {

    /* Overwrites default Bootstrap parameters */
    .breadcrumb {
        margin-top: 5vh;
    }

    .card.shop-card {
        flex-direction: row;
    }

    .card.shop-card a img {
        height: 100%;
    }

    .filter-row .col {
        flex-grow: 0;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .sort-button {
        flex-grow: 0;
        padding-left: 5px;
        padding-right: 5px;
    }
}