.product-header {    
    height: 10vh;
    padding-right: 20px;
}

.row.product-header {
    margin-bottom: 0px;
}

.base-header {
    /* removes margin from base template's header for this app */
    margin-bottom: 0px;
}

.product-cards {
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-image {
    width: 100%;
}

h6.card-title a:hover {
    color: #008763;
}

.btt-row,
.filter-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn#searchButton,
.btn#searchReset {
    font-family: 'Montserrat';
    font-weight: 600;
}

.btn-sm.filter-button {
    font-family: 'Montserrat';
    font-weight: 600;
}

.btn#searchButton:hover,
.btn#searchButton:focus,
.btn.filter-button:hover,
.btn.filter-button:focus,
.btn-sm.filter-button:hover,
.btn-sm.filter-button:focus {
    background-color: #f0eee9;
    border-color: #008763;
    border-width: 1px;
    color: #008763;
}

.btn#searchReset:hover,
.btn#searchReset:focus {
    /* needs amending after click */
    background-color: #f0eee9;
    border-color: #3b0022;
    border-width: 1px;
    color: #3b0022;
}

#backToTop {
    border-color: #008763;
    height: 100%;
}


/* View Product */

.breadcrumb {
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 10vh;
}

.breadcrumb:last-child {
    color: #008763;
    font-weight: 800;
}

.qty-panel {
    /* not needed for styling, this is an element that identifies
    the row for DOM traversal when updating the product quantity */
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Responsiveness */

@media (max-width: 768px) {

    /* Overwrites default Materialize parameters */
    .breadcrumb {
        margin-top: 5vh;
    }
}