.event-image {
    width: 100%;
}

.card.event-card {
    border: 1px solid #3b0022;
    padding: 0px;
}

/* Responsiveness */

@media (max-width: 768px) {

    .card.event-card {
        /* does this work on tablet view? */
        flex-direction: row;
    }
}