.event-image {
    width: 100%;
}

.card.event-card {
    border: 1px solid #3b0022;
    padding: 0px;
}

/* Buttons - overwriting Bootstrap default parameters */

.btn-primary {
    border-color: #008763;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
    background-color: #f0eee9;
    border-color: #008763;
    color: #008763;
}

.btn-primary a i:hover,
.btn-primary a:hover,
.btn-primary i:hover,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #f0eee9;
    border-color: #008763;
    color: #008763;
}

.btn-primary:not(:disabled):not(.disabled):focus,
.btn-primary:focus {
    background-color: #f0eee9;
    border-color: #008763;
    box-shadow: 0 0 0 0.2rem rgb(0 135 99 / 50%);
}


/* Responsiveness */

@media (max-width: 768px) {

    .card.event-card {
        /* does this work on tablet view? */
        flex-direction: row;
    }
}