<nav class="mat-override">
    <div class="sidebar justify-content-center">
        <!-- Desktop -->
        <ul>
            <!-- Logo -->
            <li id="site-logo" class="nav-option">
                <a href="{% url 'home' %}">
                    <img src="{{ MEDIA_URL }}cbc-text.png">
                </a>
            </li>

            <!-- Shopping cart - logic taken from Code Institute Boutique Ado project -->
            <li class="nav-option">
                <a href="{% url 'view_cart' %}" class="{% if grand_total %}cart-full{% else %}cart-empty{% endif %}">
                    <i class="fas fa-shopping-cart sh-cart-icon"></i>&nbsp;&nbsp;
                    {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                    {% else %}
                    €0.00
                    {% endif %}
                </a>
            </li>

            <li class="nav-option">
                <a href="{% url 'products' %}">Online Store
                </a>
            </li>

            <!-- <li class="nav-option">
                <a href="{% url 'products' %}" class="dropdown-trigger" data-target="dropdown-store">
                    Online Store&nbsp;&nbsp;<i class="fas fa-angle-down"></i>
                </a>
            </li>

            Dropdown Structure from Materialize
            <ul id="dropdown-store" class="dropdown-content" style="background-color: #e1e1e1; color: #003b19;">
                <li><a href="#">Coffee</a></li>
                <li><a href="#">Sandwiches</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="#">Subscriptions</a></li>
            </ul> -->

            <!-- User Profile -->
            <!-- Use a Materialize drop-down to roll up sign-out and profile links under user heading-->
            <li class="nav-option">
                <!-- Redirects to user profile if logged in, login page if not -->
                {% if request.user.is_authenticated %}
                <a href="#">
                    <i class="far fa-user-circle account-icon"></i>&nbsp;&nbsp;{{ user }}&nbsp;&nbsp;<i class="fas fa-angle-down"></i>
                </a>
                {% else %}
                <a href="{% url 'account_login' %}">
                    Sign In
                </a>
                {% endif %}
            </li>

            <!-- User-conditional nav elements -->
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <li class="nav-option">
                <a href="#">Administration</a>
            </li>
            {% endif %}
            <li class="nav-option">
                <a href="{% url 'account_logout' %}">Sign Out</a>
            </li>
            {% else %}
            <li class="nav-option">
                <a href="{% url 'account_signup' %}">Register</a>
            </li>
            {% endif %}

            <!-- Other nav elements -->
            <li class="nav-option">
                <a href="#">Locations</a>
            </li>

            <!--Social Media -->
            <li class="row nav-option">
                <!-- hover over icons is fine, hover over anchors is weird -->
                <div class="col s2 offset-s1">
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fab fa-facebook-f social-icon text-offwhite"></i>
                    </a>
                </div>
                <div class="col s2">
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fab fa-instagram social-icon text-offwhite"></i>
                    </a>
                </div>
                <div class="col s2">
                    <a href="http://www.twitter.com/" target="_blank">
                        <i class="fab fa-twitter social-icon text-offwhite"></i>
                    </a>
                </div>
                <div class="col s2">
                    <a href="#">
                        <i class="far fa-envelope social-icon text-offwhite"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>