<div class="row no-gutters d-none d-md-block">
    <div class="col-md-10 offset-md-2 back-red">
        <div class="row no-gutters info-box text-offwhite px-1 py-2">
            <div class="col-3 offset-8 address-box">
                <h6>Cafe Bella Ciao</h6>
                <div>The Milk Market</div>
                <div>Cornmarket Row</div>
                <div>V94 R602</div>
                <div>061 999 112</div>
            </div>
            <div class="col-1 text-center">
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook-f social-icon text-offwhite"></i>
                </a>
                <br>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram social-icon text-offwhite"></i>
                </a>
                <br>
                <a href="http://www.twitter.com/" target="_blank">
                    <i class="fab fa-twitter social-icon text-offwhite"></i>
                </a>
                <br>
                <a href="#">
                    <i class="far fa-envelope social-icon text-offwhite"></i>
                </a>
            </div>
        </div>
    </div>
</div>