<div class="row d-none d-md-block">
    <div class="col-md-10 offset-md-2 back-red pt-3">
        <div class="row store-select text-offwhite">
            <div class="col-md-3 location-box">
                <h6>CBC Mercato</h6>
                <p>The Milk Market</p>
                <p>Cornmarket Row</p>
                <p>V94 R602</p>
                <p>061 999 112</p>
                <p>
                <a href="#" class="btn btn-sm order-button back-offwhite text-green">Order Now</a>
                </p>
            </div>
            <div class="col-md-3 location-box">
                <h6>CBC Mezzaluna</h6>
                <p>Crescent Shopping Centre</p>
                <p>Dooradoyle Road</p>
                <p>V94 E81C</p>
                <p>061 999 112</p>
                <p>
                <a href="#" class="btn btn-sm order-button back-offwhite text-green">Order Now</a>
                </p>
            </div>
            <div class="col-md-3 location-box">
                <h6>CBC Riviera</h6>
                <p>Harvey's Quay</p>
                <p>Bedford Road</p>
                <p>V94 KHD6</p>
                <p>061 999 112</p>
                <p>
                <a href="#" class="btn btn-sm order-button back-offwhite text-green">Order Now</a>
                </p>
            </div>
            <div class="col-md-3 location-box">
                <h6>CBC Ovest</h6>
                <p>Jetland Shopping Centre</p>
                <p>Ennis Road</p>
                <p>V94 DN22</p>
                <p>061 999 112</p>
                <p>
                <a href="#" class="btn btn-sm order-button back-offwhite text-green">Order Now</a>
                </p>
            </div>
        </div>
    </div>
</div>