<nav class="d-none d-md-inline">
    <div class="sidebar d-flex justify-content-center">
        <ul class="w-100">
            <!-- Logo -->
            <li id="site-logo" class="nav-option">
                <a href="{% url 'home' %}">
                    <img src="{{ MEDIA_URL }}cbc-text.png" alt="Cafe Bella Ciao logo">
                </a>
            </li>

            <!-- Shopping cart logic taken from Code Institute Boutique Ado project -->
            <li class="nav-option py-2 py-lg-3 ml-3" id="cart-container">
                <a href="{% url 'view_cart' %}" id="{% if grand_total %}cart-full{% else %}cart-empty{% endif %}">
                    <i class="fas fa-shopping-cart sh-cart-icon"></i>&nbsp;&nbsp;
                    {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                    {% else %}
                    €0.00
                    {% endif %}
                </a>
            </li>

            <li class="nav-option py-2 py-lg-3 ml-3">
                <a href="{% url 'products' %}">Online Store
                </a>
            </li>

            <!-- User Profile -->
            <li class="nav-option py-2 py-lg-3 ml-3">
                <!-- Redirects to user profile if logged in, login page if not -->
                {% if request.user.is_authenticated %}
                <a href="{% url 'profile' %}">
                    <i class="far fa-user-circle account-icon"></i>&nbsp;&nbsp;{{ user }}
                </a>
                {% else %}
                <a href="{% url 'account_login' %}">
                    Sign In
                </a>
                {% endif %}
            </li>

            <!-- User-Conditional Nav Elements -->
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <li class="nav-option py-2 py-lg-3 ml-3">
                <a href="{% url 'admin' %}">
                    <i class="fas fa-tools"></i>&nbsp;&nbsp;Admin
                </a>
            </li>
            {% endif %}
            <li class="nav-option py-2 py-lg-3 ml-3">
                <a href="{% url 'events' %}">
                    <i class="far fa-calendar-alt"></i>&nbsp;&nbsp;Events</a>
            </li>
            <li class="nav-option py-2 py-lg-3 ml-3">
                <a href="{% url 'account_logout' %}">
                    <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Sign Out
                </a>
            </li>
            {% else %}
            <li class="nav-option py-2 py-lg-3 ml-3">
                <a href="{% url 'account_signup' %}">Register</a>
            </li>
            {% endif %}

            <li class="nav-option py-2 py-lg-3 ml-3">
                <a href="{% url 'faq' %}">
                    <i class="far fa-question-circle"></i>&nbsp;&nbsp;FAQs
                </a>
            </li>
        </ul>
    </div>
</nav>