<div class="row">
    <div class="col-md-2 hidden-spacer">
        <!-- Sits behind sidenav on l and xl screens -->
    </div>
    <div class="col-sm-12 col-md-10 back-red">
        <div class="row store-select text-offwhite">
            <!-- use django-responsive package to split footers into desktop and mobile -->
            <!-- create loop here that creates a div for each location -->
            <div class="col-sm-12 col-md-3 location-box">
                <h6 class="d-none d-md-block">CBC Mercato</h6>
                <p class="d-none d-md-block">The Milk Market</p>
                <p class="d-none d-md-block">Cornmarket Row</p>
                <p class="d-none d-md-block">V94 R602</p>
                <p class="d-none d-md-block">061 999 112</p>
                <p class="d-none d-md-block">
                <div class="d-md-none mob-footer-header">CBC Mercato&nbsp;&nbsp;</div>
                <a href="#" class="btn btn-sm order-button back-offwhite text-green">Order Now</a>
                </p>
            </div>
            <div class="col-sm-12 col-md-3 location-box">
                <h6 class="d-none d-md-block">CBC Mezzaluna</h6>
                <p class="d-none d-md-block">Crescent Shopping Centre</p>
                <p class="d-none d-md-block">Dooradoyle Road</p>
                <p class="d-none d-md-block">V94 E81C</p>
                <p class="d-none d-md-block">061 999 112</p>
                <p class="d-none d-md-block">
                <div class="d-md-none mob-footer-header">CBC Mezzaluna&nbsp;&nbsp;</div>
                <a href="#" class="btn btn-sm order-button back-offwhite text-green">Order Now</a>
                </p>
            </div>
            <div class="col-sm-12 col-md-3 location-box">
                <h6 class="d-none d-md-block">CBC Riviera</h6>
                <p class="d-none d-md-block">Harvey's Quay</p>
                <p class="d-none d-md-block">Bedford Road</p>
                <p class="d-none d-md-block">V94 KHD6</p>
                <p class="d-none d-md-block">061 999 112</p>
                <p class="d-none d-md-block">
                <div class="d-md-none mob-footer-header">CBC Riviera&nbsp;&nbsp;</div>
                <a href="#" class="btn btn-sm order-button back-offwhite text-green">Order Now</a>
                </p>
            </div>
            <div class="col-sm-12 col-md-3 location-box">
                <h6 class="d-none d-md-block">CBC Ovest</h6>
                <p class="d-none d-md-block">Jetland Shopping Centre</p>
                <p class="d-none d-md-block">Ennis Road</p>
                <p class="d-none d-md-block">V94 DN22</p>
                <p class="d-none d-md-block">061 999 112</p>
                <p class="d-none d-md-block">
                <div class="d-md-none mob-footer-header">CBC Ovest&nbsp;&nbsp;</div>
                <a href="#" class="btn btn-sm order-button back-offwhite text-green">Order Now</a>
                </p>
            </div>
        </div>
    </div>
</div>