<div class="row">
    <div class="col-md-2 hidden-spacer">
        <!-- Sits behind sidenav on l and xl screens -->
    </div>
    <div class="col-sm-12 col-md-10">
        <div class="row store-select back-red">
            <div class="col-sm-12">
                <!-- Social Media Icons -->
                <!-- hover over icons is fine, hover over anchors is weird -->
                <div class="col-sm-2 offset-sm-1">
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fab fa-facebook-f social-icon text-offwhite"></i>
                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fab fa-instagram social-icon text-offwhite"></i>
                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="http://www.twitter.com/" target="_blank">
                        <i class="fab fa-twitter social-icon text-offwhite"></i>
                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="#">
                        <i class="far fa-envelope social-icon text-offwhite"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>