<div class="row">
    <div class="col l2 hidden-spacer">
        <!-- Sits behind sidenav on l and xl screens -->
    </div>
    <div class="col s12 l10">
        <div class="row store-select text-white back-red">
            <!-- use django-responsive package to split footers into desktop and mobile -->
            <!-- create loop here that creates a div for each location -->
            <div class="col s12 m3">
                <h5 class="hide-on-med-and-down">CBC Mercato</h5>
                <p class="hide-on-med-and-down">The Milk Market</p>
                <p class="hide-on-med-and-down">Cornmarket Row</p>
                <p class="hide-on-med-and-down">V94 R602</p>
                <p class="hide-on-med-and-down">061 999 112</p>
                <p class="hide-on-med-and-down">
                    <div class="hide-on-large-only mob-footer-header">CBC Mercato&nbsp;&nbsp;</div>
                    <a class="btn btn-small waves-effect order-button">Order Now</a>
                </p>
            </div>
            <div class="col s12 m3">
                <h5 class="hide-on-med-and-down">CBC Mezzaluna</h5>
                <p class="hide-on-med-and-down">Crescent Shopping Centre</p>
                <p class="hide-on-med-and-down">Dooradoyle Road</p>
                <p class="hide-on-med-and-down">V94 E81C</p>
                <p class="hide-on-med-and-down">061 999 112</p>
                <p class="hide-on-med-and-down">
                    <div class="hide-on-large-only mob-footer-header">CBC Mezzaluna&nbsp;&nbsp;</div>
                    <a class="btn btn-small waves-effect order-button">Order Now</a>
                </p>
            </div>
            <div class="col s12 m3">
                <h5 class="hide-on-med-and-down">CBC Riviera</h5>
                <p class="hide-on-med-and-down">Harvey's Quay</p>
                <p class="hide-on-med-and-down">Bedford Road</p>
                <p class="hide-on-med-and-down">V94 KHD6</p>
                <p class="hide-on-med-and-down">061 999 112</p>
                <p class="hide-on-med-and-down">
                    <div class="hide-on-large-only mob-footer-header">CBC Riviera&nbsp;&nbsp;</div>
                    <a class="btn btn-small waves-effect order-button">Order Now</a>
                </p>
            </div>
            <div class="col s12 m3">
                <h5 class="hide-on-med-and-down">CBC Ovest</h5>
                <p class="hide-on-med-and-down">Jetland Shopping Centre</p>
                <p class="hide-on-med-and-down">Ennis Road</p>
                <p class="hide-on-med-and-down">V94 DN22</p>
                <p class="hide-on-med-and-down">061 999 112</p>
                <p class="hide-on-med-and-down">
                    <div class="hide-on-large-only mob-footer-header">CBC Ovest&nbsp;&nbsp;</div>
                    <a class="btn btn-small waves-effect order-button">Order Now</a>
                </p>
            </div>
        </div>
    </div>
</div>