<!-- Bootstrap generic navbar customised accordingly -->
<nav class="navbar back-green d-xs-inline d-md-none">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{{ MEDIA_URL }}cbc-text.png" id="mobile-logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-offwhite"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item pt-3 pb-2" id="cart-container">
                <a href="{% url 'view_cart' %}" id="{% if grand_total %}cart-full{% else %}cart-empty{% endif %}">
                    <i class="fas fa-shopping-cart sh-cart-icon"></i>&nbsp;&nbsp;
                    {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                    {% else %}
                    €0.00
                    {% endif %}
                </a>
            </li>

            <li class="nav-item pt-3 pb-2">
                <a href="{% url 'products' %}">Online Store</a>
            </li>

            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown pt-3 pb-2" id="navbarDropdown">
                <a class="nav-link dropdown-toggle text-offwhite" href="#" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-user-circle account-icon"></i>&nbsp;&nbsp;{{ user }}
                </a>
                <div class="dropdown-menu back-green" aria-labelledby="navbarDropdownMenuLink">
                    <ul>
                        <li>
                            <a class="dropdown-item text-offwhite" href="{% url 'profile' %}">
                                <i class="far fa-user-circle account-icon"></i>&nbsp;&nbsp;View My Profile
                            </a>
                        </li>
                        {% if request.user.is_superuser %}
                        <li>
                            <a class="dropdown-item text-offwhite" href="{% url 'add_product' %}">
                                <i class="fas fa-tools"></i>&nbsp;&nbsp;Admin
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a class="dropdown-item text-offwhite" href="% url 'account_logout' %}">
                                <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item pt-3 pb-2">
                <a href="{% url 'events' %}">
                    <i class="far fa-calendar-alt"></i>&nbsp;&nbsp;Events</a>
            </li>
            {% else %}
            <li class="nav-item pt-3 pb-2">
                <a href="{% url 'account_login' %}">
                    Sign In
                </a>
            </li>
            <li class="nav-item pt-3 pb-2">
                <a href="{% url 'account_signup' %}">Register</a>
            </li>
            {% endif %}

            <li class="row nav-item social-panel">
                <!-- hover over icons is fine, hover over anchors is weird -->
                <div class="col">
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fab fa-facebook-f social-icon text-offwhite"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fab fa-instagram social-icon text-offwhite"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="http://www.twitter.com/" target="_blank">
                        <i class="fab fa-twitter social-icon text-offwhite"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <i class="far fa-envelope social-icon text-offwhite"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>