<div class="row no-gutters d-xs-block d-md-none back-red">
    <div class="col-sm-12 d-flex justify-content-between px-3 py-2">
        <a href="https://www.facebook.com/" target="_blank" aria-label="Link to Facebook page">
            <i class="fab fa-facebook-f social-icon text-offwhite"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" aria-label="Link to Instagram page">
            <i class="fab fa-instagram social-icon text-offwhite"></i>
        </a>
        <a href="http://www.twitter.com/" target="_blank" aria-label="Link to Twitter account">
            <i class="fab fa-twitter social-icon text-offwhite"></i>
        </a>
        <a href="mailto:orders@bellaciao.ie" target="_blank" aria-label="#">
            <i class="far fa-envelope social-icon text-offwhite"></i>
        </a>
    </div>
</div>