<div class="row no-gutters d-xs-block d-md-none store-select back-red">
    <div class="col-sm-12 d-flex justify-content-between pl-3 pr-3">
        <!-- Social Media Icons -->
        <!-- hover over icons is fine, hover over anchors is weird -->
        <a href="https://www.facebook.com/" target="_blank">
            <i class="fab fa-facebook-f social-icon text-offwhite"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
            <i class="fab fa-instagram social-icon text-offwhite"></i>
        </a>
        <a href="http://www.twitter.com/" target="_blank">
            <i class="fab fa-twitter social-icon text-offwhite"></i>
        </a>
        <a href="#">
            <i class="far fa-envelope social-icon text-offwhite"></i>
        </a>
    </div>
</div>