<!-- Bootstrap generic navbar customised accordingly -->
<nav class="navbar back-green d-xs-inline d-md-none">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{{ MEDIA_URL }}cbc-text.png"
            id="mobile-logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-offwhite"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-offwhite" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-offwhite" href="#">Features</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-offwhite" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item text-offwhite" href="#">Action</a>
                  <a class="dropdown-itemtext-offwhite" href="#">Another action</a>
                  <a class="dropdown-itemtext-offwhite" href="#">Something else here</a>
                </div>
              </li>
              <li class="row nav-option social-panel">
                <!-- hover over icons is fine, hover over anchors is weird -->
                <div class="col">
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fab fa-facebook-f social-icon text-offwhite"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fab fa-instagram social-icon text-offwhite"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="http://www.twitter.com/" target="_blank">
                        <i class="fab fa-twitter social-icon text-offwhite"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <i class="far fa-envelope social-icon text-offwhite"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>