<div class="row">
    <div class="col l2 hidden-spacer">
        <!-- Sits behind sidenav on l and xl screens -->
    </div>
    <div class="col s12 l10">
        <div class="row store-select">
            <!-- use django-responsive package to split footers into desktop and mobile -->
            <!-- create loop here that creates a div for each location -->
            <div class="col s12 m3">
                <h5>CBC Mercato</h5>
                <p>The Milk Market</p>
                <p>Cornmarket Row</p>
                <p>V94 R602</p>
                <p>061 999 112</p>
                <a class="btn btn-small waves-effect order-button">Order Now</a>
            </div>
            <div class="s12 m3">
                <h5>CBC Mezzaluna</h5>
                <p>Crescent Shopping Centre</p>
                <p>Dooradoyle Road</p>
                <p>V94 E81C</p>
                <p>061 999 112</p>
                <a class="btn btn-small waves-effect order-button">Order Now</a>
            </div>
            <div class="s12 m3">
                <h5>CBC Riviera</h5>
                <p>Harvey's Quay</p>
                <p>Bedford Road</p>
                <p>V94 KHD6</p>
                <p>061 999 112</p>
                <a class="btn btn-small waves-effect order-button">Order Now</a>
            </div>
            <div class="s12 m3">
                <h5>CBC Ovest</h5>
                <p>Jetland Shopping Centre</p>
                <p>Ennis Road</p>
                <p>V94 DN22</p>
                <p>061 999 112</p>
                <a class="btn btn-small waves-effect order-button">Order Now</a>
            </div>
        </div>
    </div>
</div>