<div class="row pt-3 pb-2">
    <div class="col-10 offset-1 d-flex justify-content-center">
        {% if user.is_authenticated %}
        {% if from_profile %}
        <div class="mx-1 my-1">
            <a href="{% url 'profile' %}" class="btn btn-outline-success mobile-font">
                <i class="fas fa-history"></i>
                &nbsp;&nbsp;Order History
            </a>
        </div>
        {% elif in_profile %}
        <!-- Removes button when in main profile screen -->
        {% else %}
        <div class="mx-1 my-1">
            <a href="{% url 'profile' %}" class="btn btn-outline-success mobile-font">
                <i class="far fa-user-circle"></i>
                &nbsp;&nbsp;My Profile
            </a>
        </div>
        {% endif %}
        <div class="mx-1 my-1">
            <a href="{% url 'events' %}" class="btn btn-outline-success mobile-font">
                <i class="far fa-calendar-alt"></i>
                &nbsp;&nbsp;Upcoming events
            </a>
        </div>
        <div class="mx-1 my-1">
            <a href="{% url 'products' %}" class="btn btn-outline-success mobile-font">
                <i class="fas fa-coffee"></i>
                &nbsp;&nbsp;Order Online
            </a>
        </div>
        {% else %}
        <div class="mx-1 my-1">
            <a href="{% url 'account_signup' %}" class="btn btn-outline-success mobile-font">
                <i class="fas fa-clipboard-check"></i>
                &nbsp;&nbsp;Register
            </a>
        </div>
        {% endif %}
    </div>
</div>