{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<h2 class="text-green pt-3 pb-2">{% trans "Sign Out" %}</h2>

<p class="pt-3 pb-2">{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}" class="pt-3 pb-2">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit" class="btn btn-outline-success">
        <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;{% trans 'Sign Out' %}
    </button>
    <a class="btn btn-outline-success text-green" href="{% url 'home' %}">Cancel</a>
</form>

{% endblock %}
