{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="text-green pt-3 pb-2">{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change pt-3 pb-2">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-outline-success text-green" href="{% url 'account_login' %}">Back to Login</a>
        <button type="submit" name="action" clas="btn btn-outline-success">{% trans "Change Password" %}</button>
    </form>
{% endblock %}