{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block extratitle %}{% endblock %}Bella Ciao Ciao Ciao</title>

    {% block defaultcss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    <script src="https://kit.fontawesome.com/faa153a592.js" crossorigin="anonymous"></script>

    {% block extracss %}
    {% endblock %}

    {% block extrajs %}
    {% endblock %}

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
</head>

<body>
    <!-- Navigation Sidebar -->
    <header>
        <nav class="mat-override">
            <div class="sidebar center-align">
                <!-- Desktop -->
                <ul>
                    <!-- Logo -->
                    <li id="site-logo" class="nav-option">
                        <a href="{% url 'home' %}">
                            <img src="{{ MEDIA_URL }}cbc-text.png">
                        </a>
                    </li>

                    <!-- Shopping cart - logic taken from Code Institute Boutique Ado project -->
                    <li class="{% if grand_total %}basket-full{% else %}basket-empty{% endif %} nav-option">
                        <a href="#">
                            <i class="fas fa-shopping-cart sh-cart-icon"></i>&nbsp;&nbsp;
                            {% if grand_total %}
                            €{{ grand_total|floatformat:2 }}
                            {% else %}
                            €0.00
                            {% endif %}
                        </a>
                    </li>

                    <!-- User Profile -->
                    <li class="nav-option">
                        <!-- Redirects to user profile if logged in, login page if not -->
                        {% if request.user.is_authenticated %}
                        <a href="#">
                            <i class="far fa-user-circle account-icon"></i>&nbsp;&nbsp;{{ user }}
                        </a>
                        {% else %}
                        <a href="{% url 'account_login' %}">
                            Sign In
                        </a>
                        {% endif %}
                    </li>

                    <!-- User-conditional nav elements -->
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <li class="nav-option">
                        <a href="#">Administration</a>
                    </li>
                    {% endif %}
                    <li class="nav-option">
                        <a href="{% url 'account_logout' %}">Sign Out</a>
                    </li>
                    {% else %}
                    <li class="nav-option">
                        <a href="{% url 'account_signup' %}">Register</a>
                    </li>
                    {% endif %}

                    <!-- Other nav elements -->
                    <li class="nav-option">
                        <a href="#">Locations</a>
                    </li>

                    <li class="nav-option">
                        <a href="#">Online Store</a>
                    </li>

                    <!--Social Media -->
                    <li class="row nav-option">
                        <!-- hover over icons is fine, hover over anchors is weird -->
                        <div class="col s2 offset-s1">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="fab fa-facebook-f social-icon"></i>
                            </a>
                        </div>
                        <div class="col s2">
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fab fa-instagram social-icon"></i>
                            </a>
                        </div>
                        <div class="col s2">
                            <a href="http://www.twitter.com/" target="_blank">
                                <i class="fab fa-twitter social-icon"></i>
                            </a>
                        </div>
                        <div class="col s2">
                            <a href="#">
                                <i class="far fa-envelope social-icon"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- button to open sidenav -->
    <div class="trigger-display">
        <a href="#" data-target="mobile-snav" class="sidenav-trigger">
            <i class="fas fa-angle-down"></i>
        </a>
    </div>

    <!-- User Prompts -->
    {% if messages %}
    <div class="row">
        <div class="col s10 page-header">
            <div class="messages-container">
                <!-- Change to the usual toasts/modals-->
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col d-sm-none m2">
            <!-- Sits behind sidenav (can be turned off for mobile sidenav) -->
        </div>
        <div class="col s12 m10">
            {% block page_header %}
            {% endblock %}
        </div>
    </div>

    <!-- Page Content -->

    <main>
        <div class="row">
            <div class="col d-sm-none m2">
                <!-- Is d-sm-none a valid Materialize tag or is it a Bootstrap hangover? -->
                <!-- Sits behind sidenav (can be turned off for mobile sidenav) -->
            </div>
            <div class="col s12 m10">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>

    <footer>
        <div class="row">
            <div class="col l2 hidden-spacer">
                <!-- Sits behind sidenav on l and xl screens -->
            </div>
            <div class="col s12 l10">
                <div class="row store-select">
                    <!-- create loop here that creates a col.s3 for each location -->
                    <div class="col s3">
                        <h5>CBC Mercato</h5>
                        <p>The Milk Market</p>
                        <p>Cornmarket Row</p>
                        <p>V94 R602</p>
                        <p>061 999 112</p>
                        <a class="btn btn-small waves-effect waves-003b19 order-button">Order Now</a>
                    </div>
                    <div class="col s3">
                        <h5>CBC Mezzaluna</h5>
                        <p>Crescent Shopping Centre</p>
                        <p>Dooradoyle Road</p>
                        <p>V94 E81C</p>
                        <p>061 999 112</p>
                        <a class="btn btn-small waves-effect waves-003b19 order-button">Order Now</a>
                    </div>
                    <div class="col s3">
                        <h5>CBC Riviera</h5>
                        <p>Harvey's Quay</p>
                        <p>Bedford Road</p>
                        <p>V94 KHD6</p>
                        <p>061 999 112</p>
                        <a class="btn btn-small waves-effect waves-003b19 order-button">Order Now</a>
                    </div>
                    <div class="col s3">
                        <h5>CBC Ovest</h5>
                        <p>Jetland Shopping Centre</p>
                        <p>Ennis Road</p>
                        <p>V94 DN22</p>
                        <p>061 999 112</p>
                        <a class="btn btn-small waves-effect waves-003b19 order-button">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    {% block defaultjs %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

</body>

</html>