{% extends "base.html" %}
{% load static %}

{% block extratitle %}
Store Administration |
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block page_header %}
{% include 'includes/page-header.html' with h3_title="Edit Product" %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-5">
        <form action="{% url 'edit_product' product.id %}" method="POST" id="add-product-form" class="pt-3 pb-2" encytype="multipart/form-data">
            {% csrf_token %}
                <legend class="fieldset-label text-green pt-3 pb-2">Edit Product</legend>
                {{ form | crispy }}

            <div class="w-100">
                <a class="btn btn-outline-success" href="{% url 'products' %}">
                    <i class="far fa-window-close"></i>
                    &nbsp;
                    Cancel
                </a>
                <button id="submit-button" class="btn btn-outline-warning">
                    <i class="fas fa-wrench"></i>
                    &nbsp;
                    Edit Item
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}