{% extends "base.html" %}
{% load static %}

{% block extratitle %}
{{ product.name }} |
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block page_header %}
{% include 'includes/page-header.html' with h3_title=product.name %}
{% endblock %}

{% block content %}

<!-- Default Materialize card format -->
<div class="container">
    
    <div class="row text-uppercase">
        <div class="col list-inline">
            <li class="breadcrumb list-inline-item">
                <a href="{% url 'products' %}" class="text-green">All</a>
            </li>
            <li class="breadcrumb list-inline-item">
                <i class="fas fa-angle-right text-green"></i>
            </li>
            <li class="breadcrumb list-inline-item">
                <a href="{% url 'products' %}?category={{ product.category }}" class="text-green">
                    {{ product.category.render_name }}</a>
            </li>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12 col-md-5">
            <!-- logic taken from Boutique Ado project -->
            {% if product.image %}
            <a href="{{ product.image.url }}" target="_blank">
                <!-- change to modal -->
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
            </a>
            {% else %}
            <img src="{{ MEDIA_URL }}placeholder.png" alt="{{ product.name }}" class="product-image">
            {% endif %}
        </div>

        <div class="col-sm-12 col-md-5 offset-md-2">
            <div>
                {{ product.description }}
            </div>

            <br>
            <br>
            <div class="text-red text-left">
                €{{ product.price }}
            </div>
            <br>
            <br>

            <!-- Idea for customisable item dropdowns taken from Boutique Ado project -->

            <div class="row ">

                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}

                    <!-- Product Customisation -->
                    <div class="row d-flex justify-content-center">
                        {% if product.sizable %}
                        <div class="col-sm-12 col-md-6 input-field text-green">
                            <small>Size:</small>
                            <select name="product_size" id="id_product_size" class="text-green">
                                <option value="regular" selected>Regular</option>
                                <option value="large">Large</option>
                            </select>
                        </div>
                        {% endif %}

                        {% if product.milks %}
                        <div class="col-sm-12 col-md-6 text-green">
                            <small>Milk:</small>
                            <select name="product_milk" id="id_milk_select" class="text-green">
                                <option value="none">None</option>
                                <option value="almond">Almond</option>
                                <option value="coconut">Coconut</option>
                                <option value="dairy" selected>Dairy</option>
                                <option value="oat">Oat</option>
                                <option value="soya">Soya</option>
                            </select>
                        </div>
                        {% endif %}
                    </div>

                    {% if product.flavours %}
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-12 col-md-6 input-field text-green">
                            {% if product.category_name == 'snacks' %}
                            <small>Flavour:</small>
                            <select name="product_flavour" id="id_flavour_select" class="text-green">
                                <option value="canadian-ham">Canadian Ham</option>
                                <option value="cheese-onion" selected>Cheese and Onion</option>
                                <option value="ready-salted">Ready Salted</option>
                                <option value="salt-vinegar">Salt and Vinegar</option>
                            </select>
                            {% else %}
                            <small>Syrup:</small>
                            <select name="product_flavour" id="id_flavour_select" class="text-green">
                                <option value="none" selected>None</option>
                                <option value="hazelnut">Hazelnut Syrup</option>
                                <option value="caramel">Salted Caramel Sauce</option>
                                <option value="vanilla">Vanilla Syrup</option>
                            </select>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}

                    <!-- Quantity selector -->
                    <!-- Same code as the cart, this is taken from the Boutique Ado project -->
                    <div class="row d-flex justify-content-center qty-panel">

                        <div class="col">
                            <button class="btn btn-sm btn-outline-success decrease-qty text-green"
                                data-item_id="{{ product.id }}" id="decrease-qty_{{ product.id }}">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>

                        <div class="col">
                            <input class="qty-select text-center" type="number" name="quantity" value="1" min="1"
                                max="49" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                        </div>

                        <div class="col">
                            <button class="btn btn-sm btn-outline-success increase-qty" data-item_id="{{ product.id }}"
                                id="increase-qty_{{ product.id }}">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>

                    </div>

                    <div class="row justify-content-center pt-3 pb-2">
                        <div class="col check-eject pt-3 pb-2">
                            <a href="{% url 'products' %}" class="btn btn-outline-success text-green">
                                Back to Shop
                            </a>
                        </div>
                        <div class="col check-eject pt-3 pb-2">
                            <input type="submit" value="Add to Cart" class="btn btn-outline-success text-green" name="add-cart">
                        </div>
                    </div>

                    {% if request.user.is_superuser %}
                    <div class="row justify-content-center pt-3 pb-2">
                        <div class="col check-eject pt-3 pb-2">
                            <a href="{% url 'edit_product' product.id %}" class="btn btn-outline-warning"
                                style="width: 100%;">
                                <i class="fas fa-wrench"></i>
                                Edit Item
                            </a>
                        </div>
                        <div class="col check-eject pt-3 pb-2">
                            <button
                                type="button" class="btn btn-outline-danger"
                                style="width: 100%;" id="deletionButton">
                                <i class="far fa-trash-alt"></i>
                                Delete Item
                            </button>
                        </div>
                    </div>
                    {% endif %}

                    <!-- sends the current URL to the next page so we can redirect reverse from there -->
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            
            </div>

        </div>

    </div>
</div>

<!-- Modal for confirming deletions -->
{% include 'includes/deletion-modal.html' %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/quantitySelect.js' %}"></script>
{% endblock %}