{% extends "base.html" %}
{% load static %}

{% block extratitle %}
{{ product.name }} |
{% endblock %}

{% block page_header %}
<!-- just here for colour and font testing at the moment -->
<div class="row product-header back-green">
    <h4 class="text-white right">{{ product.name }}</h4>
</div>

{% endblock %}

{% block content %}

<!-- Default Materialize card format -->
<div class="container">

    <div class="row">
        <!-- Need to mess around with this to make it look good -->
        <a href="{% url 'products' %}"
            class="breadcrumb text-green">All</a>
        <i class="fas fa-angle-right text-green"></i>
        <a href="{% url 'products' %}?category={{ product.category }}"
            class="breadcrumb text-green">{{ product.category.render_name }}</a>
    </div>
    
    <div class="row">

        <div class="col s12 l5">
            <!-- logic taken from Boutique Ado project -->
            {% if product.image %}
            <a href="{{ product.image.url }}" target="_blank">
                <!-- change to modal -->
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
            </a>
            {% else %}
            <img src="{{ MEDIA_URL }}placeholder.png" alt="{{ product.name }}" class="product-image">
            {% endif %}
        </div>

        <div class="col s12 l5 offset-l2">
            <!-- Add link to take back to products page filtered by this category -->
            <div>
                {{ product.description }}
            </div>
            <br>
            <br>
            <div class="text-red left">
                €{{ product.price }}
            </div>
            <!-- Qty/Size/Flavour box here -->

            <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <input type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                </div>
                
                <div class="row">
                    <a href="{% url 'products' %}" class="btn btn-large back-green waves-effect waves-green right">
                        Back to Shop
                    </a>
                    <input type="submit" value="Add to cart" class="btn btn-large back-green waves-effect waves-green right">
                </div>
                <!-- sends the current URL to the next page so we can redirect reverse from there -->
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>

            <div class="btn btn-large back-green waves-effect waves-green right">
                <a href="#" class="text-white back-green waves-effect waves-green">
                   
                </a>
            </div>
        </div>

    </div>

</div>

{% endblock %}