{% for message in messages %}
<h6 class="messages-container text-center">
    <i class="far fa-check-circle"></i>
    &nbsp;
    {{ message }}
    &nbsp;
    <!-- only adds View Cart suffix if message is displayed on a product 
        page, need to edit again once this page is loaded from edit_product
        and delete_product, and from variable to view similar to from_profile? -->
    {% if "/products/" in request.get_full_path %}
    <a href="{% url 'view_cart' %}" class="text-gold view-cart-toast">
        View Cart <i class="fas fa-shopping-cart"></i>
    </a>
    &nbsp;
    {% endif %}
    <i class="fas fa-times close-message"></i>
</h6>
{% endfor %}